*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    #Nom{
        font-family:cursive; 
        color:brown; 
        font-weight: 700;
    }

    header{
        box-shadow: 2px 0px 6px black;
        z-index: 10;
        position: sticky;
        top: 0;
    }

    .nav-link.active{
        border-bottom: 1px solid black;
        width: fit-content;
    }

    .nav-collapse{
        position: absolute;
        z-index: 20;
    }

/* Section d'Accueil */
    #img-hero{
        background:linear-gradient(-100deg,rgba(255, 166, 0, 0.493),rgba(0, 0, 0, 0.801)),url(images/hero-img.png) center/cover;
        background-attachment:fixed;
        min-height: 89vh;
    }

    .slogan{
        width: fit-content;
        max-width: 100%;
        text-align: center;
        padding: 2px 18px;
    }

    .titre-hero{
        font-size: 70px;
        font-family: "Goldman", sans-serif;
        font-weight: bold;
        max-width:580px;
        color: white;
        text-transform: uppercase;
    }

    #pain{
        color: gold;
        font-style: italic;
        font-size: 1em;
    }

    .description{
        max-width: 590px;
    }

    .btn-produits{
        background-color: maroon;
    }

    .btn-visiter{
        background-color: rgba(255, 255, 255, 0.144);
    }

    /* section presentation */
    .present-titre{
        font-family: "Satisfy", cursive;
        font-size: 3rem;
        font-weight: 650;
        color: brown;
    }
    /* section produits favoris  */
    .card-title{
        font-family: "Edu QLD Hand", cursive;
    }

    .price{
        font-family: "Cormorant Garamond", serif;
    }

    .fav-titre{
        font-family: "Literata", serif;
    }

/* AU MOBILE */
@media (max-width: 576px){

    .barnav{
        padding: 8px 0px 0px 20px !important;
    }

    #img-hero{
        min-height: 80vh;
        background-position: 80% center;
    }

    #Nom{
        font-size: 25px !important;
    }

    .Nom-txt{
        font-size: 10px !important;
    }

    .titre-hero{
        max-width: 300px;
        font-size: 2.3rem;
    }

    .slogan{
        font-size: 0.8rem;
    }

    .description{
        font-size: 1.2rem !important;
        max-width: 330px;
    }

    .hero-btn{
        flex-direction: column;
    }

    /* section presentation */
    .services .service{
        width: 100%;
    }

    

}

/* AU PETIT ECRAN */
@media (max-width: 360px){

    .barnav{
        padding: 8px 0px 0px 20px !important;
    }

    .NameBrand{
        padding-top: 5px;
    }

    #Nom{
        font-size: 18px !important;
    }

    .Nom-txt{
        font-size: 8px !important;
    }

    #img-hero{
        background-position: 65% center;
        min-height: 100vh;
    }

    .titre-hero{
        max-width: 200px;
        font-size: 1.5rem;
    }

    .slogan{
        font-size: 0.6rem;
        padding:0px 7px;
    }

    .description{
        font-size: 0.8rem !important;
        max-width: 100%;
    }

    .hero-btn{
        flex-direction: column;
    }

    .hero-btn .btn{
        font-size: 18px !important;
    }

    .logo{
        height: 42px !important;
        padding: 8px 0px 0px 10px !important;
    }
    /* section presentation */
    .present-titre{
        font-size: 34px !important;
    }

    .text-present{
        font-size: 15px !important;
    }

    /* section produits favoris  */
    .fav-titre{
        font-size: 22px !important;
    }

}
