*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Nom{
    font-family:cursive; 
    color:brown; 
    font-weight: 700;
}

header{
    box-shadow: 2px 0px 6px black;
    z-index: 1;
    position: sticky;
    top: 0;
}